/* 
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*  2. Remove default margin*/
* {
  margin: 0;
}
/*  3. Allow percentage-based heights in the application*/
html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Remove built-in form typography styles*/
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

/* Create a root stacking context*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --primary-color: #272a21;
  --accent-color: #d3d3d3;
  --secondary-color: #ec5242;
  --light_primary-color: #585858;
}

h1 {
  font-size: 3.6rem;
  font-weight: 800;
  color: var(--secondary-color);
  line-height: 1;
}

h2 {
  font-size: 4rem;
  color: var(--light_primary-color)
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin: 0;
}


.bars {
  width: 30px;
  height: 5px;
  background-color: var(--primary-color);
  margin: 5px;
}

header {
  padding: 15px 20px 60px;
}

.menu-container {
  background-image: url(../img/coding-bg.jpg);
  /* position: absolute; */
}

/* .overlay {
  background-color: rgb(255 255 255 / 60%);
  position: absolute;
  z-index:0;
  height: 100%;
  width: 100%;
} */

.header-content {
  padding-top: 30px;
}

.header-title {
  -webkit-background-clip: text;
  margin:  6px 0 15px 0;
  background-image: url(../img/coding-bg.png);
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-position: contain;
}

.header-info {
  margin: 0 0 15px 0;
  border: solid 2px #ffffff;
  padding: 20px;
}

.sub-title {
  color: var(--secondary-color);
}


/* main program section */
.main-program-section {
  background-image: url(../img/main_program_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 50px 0;
}

.program-card {
  display: flex;
  background-color:rgb(73 71 71 / 53%);
  align-items: center;
  margin: 10px;
  padding: 10px 0;
  justify-content: space-between;
  gap: 10px;
}

.program-card-img {
  width: 60px;
  padding-left: 7px;
}

.section-title{
  text-align: center;
}

.title-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}
.title-line {
  background-color: var(--secondary-color);
  width: 40px;
  height: 1px;
}

.event-date {
  font-size: 2.3rem;
  line-height: 1.1;
}

.program-top {
  display: flex;
  align-items: center;
  gap: 15px;
}

.prgm {
  width: 40% auto;
}

.program-info {
  width: 60%;
}

.program-card-title {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.join-btn {
  color: var(--accent-color);
  background-color: var(--secondary-color);
  padding: 17px 23px;
  border: none;
}

.join {
  text-align: center;
  padding-top: 20px;
}

/* speakers section */
#speakers-section {
  padding: 0 10px;
  margin-top: 40px;
}
.speaker-container {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.speaker-img {
  width: 60%;
}

.speaker-name { 
  font-size: 20px;
  font-weight: 600;
}

.speaker-title {
  color: var(--secondary-color);
  margin: 7px 0;
  line-height: 1.1;
  font-style: italic;
}

.line {
  width: 20px;
  background-color: var(--light_primary-color);
  height: 2px;
}

.speaker-desc {
  margin-top: 5px;
  line-height: 1.1;
}

.lng-Btn {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--light_primary-color);
  padding: 15px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.more-btn {
  text-align: center;
  margin-top: 20px;
}

.more-btn img{
  width: 20px;
}

/* partners */
.partners-section {
  margin: 50px 0;
  background-color: var(--primary-color);
  padding: 40px 10px;
}

.partners-section .section-title {
  color: #fff;
}

.partners-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  place-items: center;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 10px;
}

.logo-container img {
  width: 300px;
}