/* 
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*  2. Remove default margin*/
* {
  margin: 0;
}
/*  3. Allow percentage-based heights in the application*/
html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Remove built-in form typography styles*/
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

/* Create a root stacking context*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --primary-color: #272a21;
  --accent-color: #d3d3d3;
  --secondary-color: #ec5242;
  --light_primary-color: #585858;
  --light-color: #424146;
}

h1 {
  font-size: 3.6rem;
  font-weight: 800;
  color: var(--secondary-color);
  line-height: 1;
}

h2 {
  font-size: 4rem;
  color: var(--light_primary-color)
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin: 0;
}


.bars {
  width: 30px;
  height: 5px;
  background-color: var(--primary-color);
  margin: 5px;
}

header {
  padding: 15px 20px 60px;
}

.logo {
  display: none;
}

.menu-container {
  background-image: url(../img/coding-bg.jpg);
}

.header-content {
  padding-top: 30px;
}

.header-title {
  -webkit-background-clip: text;
  margin:  6px 0 15px 0;
  background-image: url(../img/coding-bg.png);
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-position: contain;
}

.header-info {
  margin: 0 0 15px 0;
  border: solid 2px #ffffff;
  padding: 20px;
}

.sub-title {
  color: var(--secondary-color);
}

.nav-menu {
  display: none;
}

.social-nav {
  display: none;
}

/* main program section */
.main-program-section {
  background-image: url(../img/main_program_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 50px 0;
}

.program-card {
  display: flex;
  background-color:rgb(73 71 71 / 53%);
  align-items: center;
  margin: 10px;
  padding: 10px 0;
  justify-content: space-between;
  gap: 10px;
}

.program-card-img {
  width: 60px;
  padding-left: 7px;
}

.section-title{
  text-align: center;
}

.title-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}
.title-line {
  background-color: var(--secondary-color);
  width: 40px;
  height: 1px;
}

.event-date {
  font-size: 2.3rem;
  line-height: 1.1;
  color: var(--light-color);
}

.program-top {
  display: flex;
  align-items: center;
  gap: 15px;
}

.prgm {
  width: 40% auto;
}

.program-info {
  width: 60%;
  padding: 0 10px;
}

.program-card-title {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.join-btn {
  color: var(--accent-color);
  background-color: var(--secondary-color);
  padding: 17px 23px;
  border: none;
}

.join {
  text-align: center;
  padding-top: 20px;
}

/* speakers section */
#speakers-section {
  padding: 0 10px;
  margin-top: 40px;
}
.speaker-container {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.speaker-img {
  width: 60%;
}

.speaker-name { 
  font-size: 20px;
  font-weight: 600;
}

.speaker-title {
  color: var(--secondary-color);
  margin: 7px 0;
  line-height: 1.1;
  font-style: italic;
}

.line {
  width: 20px;
  background-color: var(--light_primary-color);
  height: 2px;
}

.speaker-desc {
  margin-top: 5px;
  line-height: 1.1;
}

.lng-Btn {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--light_primary-color);
  padding: 15px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.more-btn {
  text-align: center;
  margin-top: 20px;
}

.more-btn img{
  width: 20px;
}

/* partners */
.partners-section {
  margin: 50px 0;
  background-color: var(--light-color);
  padding: 40px 10px;
}

.partners-section .section-title {
  color: #fff;
}

.partners-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  place-items: center;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px 10px;
}

.logo-container img {
  width: 300px;
}

.hideMobile {
  display: none;
}

.hideDesktop {
  display: inline-block;
}


/* desktop version */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav-menu {
    display: block;
  }
  
  .hideDesktop {
    display: none;
  }

  .hideMobile {
    display: flex;
  }

  .toggler {
    display: none;
  }
  
  .logo {
    display: block;
    width: 150px;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem 14rem;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .menu-items {
    list-style-type: none;
  }

  .active {
    color: var(--secondary-color);
  }

  .active-btn {
    border: 3px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 10px 15px;
  }

  .menu-items a {
   text-decoration: none;
   font-size: 18px;
  }

  .header-content {
    padding: 11rem 45rem 11rem 14rem;
  }

  .header-title {
    font-size: 6rem;
  }

  header {
    padding: 0;
}

.social-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--primary-color);
  padding: 5px 14rem;
}

.social-menu {
  display: flex;
  gap: 10px;
}

.social-menu-item {
  list-style-type: none;
  color: #fff;
}

.social-menu-item a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.social-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-img img {
  width: 30px;
  cursor: pointer;
}

.header-info {
 width: 510px;
}


.partners-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 14rem;
  gap: 40px;
}

.partners-container img {
 max-width: 150px;
 padding: 50px 0;
}

.program-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 220px;
}

.program-container {
  display: flex;
  align-items: center;
  padding: 5px;
}

.program-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.program-info {
  text-align: center;
}

.program-info {
  width: auto;

}

/* speaker  */
.speaker-img {
  width: auto;
}

.speakersDesktop {
    display: flex;
    flex-wrap: wrap;
    padding: 0 14rem;
    /* gap: 10px; */
}

.speaker-container {
  flex: 50%;
}
.more-btn-desktop {
  width: 50%;
  text-align: center;
}
}